html{
    font-size: 62.5%;
}

*{
    margin:0;
    padding: 0;
    border: none;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

p{
    color:rgb(119, 119, 119);
    font-size: 1.6rem;
    line-height: 2.3rem;
}

a{
    color: rgb(253, 109, 75);
    font-size: 1.4rem;
}

/* 
rgb(253, 109, 75)  laranja
rgb(243, 46, 162)  rosa
rgb(19, 24, 62)    preto
rgb(89, 77, 247)   azul */