/* -------------------------HEADER------------------------ */
.header, .footer{
    display: flex;
    justify-content: space-between;
    padding: 2rem 13rem;
}

.header .logo, .footer .logo{
    font-size: 3rem;
    font-weight: 700;
}

.btn-iniciar{
    background-color: rgb(19, 24, 62);
    border-radius: 3rem;
    width: 12rem;
    height: 5rem;
    color: rgb(253, 253, 253);
    font-weight: 700;
    transition: 0.3s ease;
}

.header .btn-iniciar:hover{
    background-color: rgb(253, 109, 75);
}

/* -------------------------PAINEL------------------------ */
.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 13rem;
}

.painel .banner{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 45rem;
    height: 40rem;
}

.painel .banner .titulo{
    color: rgb(19, 24, 62);
    font-size: 4.5rem;
    font-weight: 700;
}

.painel .banner .btn-iniciar{
    background: linear-gradient( rgb(253, 109, 75), rgb(243, 46, 162));
}

.painel .banner .btn-iniciar:hover{
    background: linear-gradient( rgb(89, 77, 247), rgb(243, 46, 162));
}
/* -------------------------IMG------------------------ */

.painel-img{
    position: relative;
    margin: 4.5rem 4rem;
}

.painel-img .img{
    background: linear-gradient( rgb(253, 109, 75), rgb(243, 46, 162));
    height: 45rem;
    width: 25rem;
    border-radius: 15rem;
}

.painel-img .info{
    position: absolute;
    background-color: #fff;
    padding: 1.6rem 2.5rem;
    border-radius: 1rem;
    box-shadow: -10px 10px 30px rgba(0, 0, 0, 0.1);
}

.painel-img .info.horas{
    bottom: 7rem;
    left: -6rem;
}

.painel-img .info.membros{
    top: 10rem;
    right: -6rem;
}

.painel-img .info p{
    font-size: 1.4rem;
    font-weight: 600;
}

.painel-img .info spam{
    font-size: 3rem;
    font-weight: 700;
}
/* -------------------------CARDS------------------------ */
.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem;
    gap: 6rem 2.2rem;
    padding: 2rem 9rem;
}

.container .card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;

    height: 26rem;
    width: 28rem;
    
    padding: 3rem;
    border-radius: 1rem;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
}

.container .card.titulo{
    background: linear-gradient( rgb(253, 109, 75), rgb(243, 46, 162));
    font-size: 1.7rem;
    color: #fff;
}

.container .card .ico{
    background: linear-gradient( rgb(253, 109, 75), rgb(243, 46, 162));
    display: flex;
    justify-content: center;
    align-items: center;
    top: -2.3rem;
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 2.5rem;
    position: absolute;
}

.container .card .ico .img{
    height: 45%;
}

.container .card .curso{
    font-size: 2rem;
    font-weight: 700;
}

/* -------------------------FOOTER------------------------ */
.footer{
    background-color: rgb(19, 24, 62);
}

.footer .btn-iniciar{
    background: linear-gradient( rgb(253, 109, 75), rgb(243, 46, 162));
}

.footer .btn-iniciar:hover{
    background: linear-gradient( rgb(89, 77, 247), rgb(243, 46, 162));
}